In [22]:
import pandas as pd
mtcars = pd.read_csv("mtcars.csv")
mtcars[:3]

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1

In [17]:
print("Exploring the data and performing statistical analysis")
print()
print("Running describe on the data:")
print(mtcars.describe())
print()
print("Exploring all of the data types from each column:")
print(mtcars.dtypes)
print()
print("Checking the mean of significant columns:")
print("avg mpg:", mtcars['mpg'].mean())
print("avg gear:", mtcars['gear'].mean())
print("avg horse power:", mtcars['hp'].mean())
print()

Exploring the data and performing statistical analysis

Running describe on the data:
             mpg        cyl        disp          hp       drat         wt  \
count  32.000000  32.000000   32.000000   32.000000  32.000000  32.000000
mean   20.090625   6.187500  230.721875  146.687500   3.596563   3.217250
std     6.026948   1.785922  123.938694   68.562868   0.534679   0.978457
min    10.400000   4.000000   71.100000   52.000000   2.760000   1.513000
25%    15.425000   4.000000  120.825000   96.500000   3.080000   2.581250
50%    19.200000   6.000000  196.300000  123.000000   3.695000   3.325000
75%    22.800000   8.000000  326.000000  180.000000   3.920000   3.610000
max    33.900000   8.000000  472.000000  335.000000   4.930000   5.424000

            qsec         vs         am       gear     carb
count  32.000000  32.000000  32.000000  32.000000  32.0000
mean   17.848750   0.437500   0.406250   3.687500   2.8125
std     1.786943   0.504016   0.498991   0.737804   1.6152
min    14.500000   0.000000   0.000000   3.000000   1.0000
25%    16.892500   0.000000   0.000000   3.000000   2.0000
50%    17.710000   0.000000   0.000000   4.000000   2.0000
75%    18.900000   1.000000   1.000000   4.000000   4.0000
max    22.900000   1.000000   1.000000   5.000000   8.0000

Exploring all of the data types from each column:
model     object
mpg      float64
cyl        int64
disp     float64
hp         int64
drat     float64
wt       float64
qsec     float64
vs         int64
am         int64
gear       int64
carb       int64
dtype: object

Checking the mean of significant columns:
avg mpg:  20.090625000000003
avg gear:  3.6875
avg horse power:  146.6875

In [20]:
print()
print("Analyzing the mpg for cars by gear")

mpg_by_gear = mtcars.groupby('gear')['mpg']

print(mpg_by_gear.describe())

print()
print("Analyzing the mpg for cars by carb")

mpg_by_carb = mtcars.groupby('carb')['mpg']

print(mpg_by_carb.describe())

Analyzing the mpg for cars by gear
      count       mean       std   min   25%   50%     75%   max
gear
3      15.0  16.106667  3.371618  10.4  14.5  15.5  18.400  21.5
4      12.0  24.533333  5.276764  17.8  21.0  22.8  28.075  33.9
5       5.0  21.380000  6.658979  15.0  15.8  19.7  26.000  30.4

Analyzing the mpg for cars by carb
      count       mean       std   min     25%    50%    75%   max
carb
1       7.0  25.342857  6.001349  18.1  21.450  22.80  29.85  33.9
2      10.0  22.400000  5.472152  15.2  18.825  22.10  25.60  30.4
3       3.0  16.300000  1.053565  15.2  15.800  16.40  16.85  17.3
4      10.0  15.790000  3.911081  10.4  13.550  15.25  18.85  21.0
6       1.0  19.700000       NaN  19.7  19.700  19.70  19.70  19.7
8       1.0  15.000000       NaN  15.0  15.000  15.00  15.00  15.0

In [27]:
print()
print("Finding out which attribute has the most impact on mpg")

mtcars_numeric_cols = mtcars.select_dtypes(include=[float, int])

corr_matrix = mtcars_numeric_cols.corr()

most_impactful = corr_matrix['mpg']

print(most_impactful)

print()
print("Finding the largest impact:")

print(most_impactful.abs().sort_values())

print("As seen from the listing, the largest impact is wt, which is weight, of the car. This can be seen easier by the sorted list.")

Finding out which attribute has the most impact on mpg
mpg     1.000000
cyl    -0.852162
disp   -0.847551
hp     -0.776168
drat    0.681172
wt     -0.867659
qsec    0.418684
vs      0.664039
am      0.599832
gear    0.480285
carb   -0.550925
Name: mpg, dtype: float64

Finding the largest impact:
qsec    0.418684
gear    0.480285
carb    0.550925
am      0.599832
vs      0.664039
drat    0.681172
hp      0.776168
disp    0.847551
cyl     0.852162
wt      0.867659
mpg     1.000000
Name: mpg, dtype: float64