In [4]:
import pandas as pd
registration_df = pd.read_csv('Registration.csv')
course_info_df = pd.read_excel('Course_info.xlsx')

In [10]:
print('Exploring Registration Data')
print()
print('First rows of the dataset:')
print(registration_df.head())
print()
print('Data types:')
print(registration_df.dtypes)
print()
print('Running a describe:')
print(registration_df.describe())

Exploring Registration Data

First rows of the dataset:
  Student name semester new                  coursename
0    Bill Mumy    Fall 2004     BEHAVIORAL PHARMACOLOGY
1    Bill Mumy    Fall 2000     AMERICAN FOREIGN POLICY
2    Bill Mumy    Fall 2003       DRUGS, BRAIN AND MIND
3    Bill Mumy    Fall 2005  Environmental Case Studies
4    Bill Mumy    Fall 2000     COMPUTER LINEAR ALGEBRA

Data types:
Student name    object
semester new    object
coursename      object
dtype: object

Running a describe:
       Student name semester new             coursename
count          4900         4900                   4899
unique          448           16                    168
top      Ed McMahon  Spring 2002  COMPUT LINEAR ALGEBRA
freq             52          486                    411

In [11]:
print('Exploring Course Info Data')
print()
print('First rows of the dataset:')
print(course_info_df.head())
print()
print('Data types:')
print(course_info_df.dtypes)
print()
print('Running a describe:')
print(course_info_df.describe())

Exploring Course Info Data

First rows of the dataset:
  Course number                                     Course Name  Course Type
0       ARTS400  EXPERIMENTAL WRITING SEM: The Ecology of Poetry           C
1       ARTS401                             ART: ancient to 1945           C
2       ARTS465                         ENVIRONMENTAL SYSTEMS II           F
3       ARTS486                          COMPUTER LINEAR ALGEBRA           F
4       ARTS512                             ANALYTICAL MECHANICS           F

Data types:
Course number    object
Course Name      object
Course Type      object
dtype: object

Running a describe:
       Course number              Course Name  Course Type
count             42                        41          42
unique            42                        40           3
top          ARTS400  FRANCE & THE EUROP.UNION           E
freq               1                         2          33

In [25]:
print('Finding which course has the highest registration')
print()

registration_counts = registration_df['coursename'].value_counts()
sorted_registration_counts = registration_counts.sort_values(ascending=False)

print('List of highest registration count:')
print(sorted_registration_counts.head())
print()
print('From this we can see that', sorted_registration_counts.index[1], 'has the highest number of registrations')

Finding which course has the highest registration

List of highest registration count:
coursename
COMPUT LINEAR ALGEBRA         411
Environmental Case Studies    402
A WORLD AT WAR                368
BEHAVIORAL PHARMACOLOGY       354
ANALYTICAL MECHANICS          350
Name: count, dtype: int64

From this we can see that Environmental Case Studies has the highest number of registrations

In [42]:
print('Inner join on the two datasets')
print()
print('Original column names:')
print(registration_df.columns)
print(course_info_df.columns)

course_info_df.rename(columns={'Course Name ' : 'coursename'}, inplace=True)

print()
print('New column names:')
print(registration_df.columns)
print(course_info_df.columns)

merged_df = pd.merge(registration_df, course_info_df, on='coursename', how='inner')


print('Merged dataset:')
print(merged_df)

Inner join on the two datasets

Original column names:
Index(['Student name', 'semester new', 'coursename'], dtype='object')
Index(['Course number', 'coursename', 'Course Type'], dtype='object')

New column names:
Index(['Student name', 'semester new', 'coursename'], dtype='object')
Index(['Course number', 'coursename', 'Course Type'], dtype='object')
Merged dataset:
           Student name semester new  \
0             Bill Mumy    Fall 2004
1     Geraldine Ferraro  Summer 2004
2     Geraldine Ferraro  Summer 2004
3         Laura Lippman    Fall 2004
4         Laura Lippman    Fall 2004
...                 ...          ...
2382        Edward Koch    Fall 2004
2383       Celeste Holm    Fall 2004
2384       Celeste Holm    Fall 2004
2385       Jimmy Carter    Fall 2001
2386       Jimmy Carter    Fall 2001

                                    coursename Course number Course Type
0                      BEHAVIORAL PHARMACOLOGY       ARTS516           F
1                      BEHAVIORAL PHARMACOLOGY       ARTS516           F
2                      BEHAVIORAL PHARMACOLOGY       ARTS516           F
3                      BEHAVIORAL PHARMACOLOGY       ARTS516           F
4                      BEHAVIORAL PHARMACOLOGY       ARTS516           F
...                                        ...           ...         ...
2382                      ART: ancient to 1945       ARTS401           C
2383                      ART: ancient to 1945       ARTS401           C
2384                      ART: ancient to 1945       ARTS401           C
2385  EVIDENCED BASED CRIME AND JUSTICE POLICY       ARTS485           E
2386  EVIDENCED BASED CRIME AND JUSTICE POLICY       ARTS485           E

[2387 rows x 5 columns]

In [51]:
print('Creating our new dataframe')

student_registration_table = pd.pivot_table(merged_df, values=None, index='Student name', columns='Course number', aggfunc='sum')

print()
print('Head of pivot table:')
print(student_registration_table.head())
print()

print('Translating to binary:')

student_registration_binary = student_registration_table.notnull().astype(int)

print(student_registration_binary.head())

Creating our new dataframe

Head of pivot table:
              Course Type                                                   \
Course number     ARTS400 ARTS401 ARTS465 ARTS484 ARTS485 ARTS486 ARTS488
Student name
ABella Abzug          NaN     NaN     NaN     NaN     NaN     NaN      NaN
Al Gore               NaN     NaN     NaN     NaN     NaN     NaN      NaN
Al Hirt               NaN     NaN       F     NaN     NaN       F      NaN
Al Roker              CCC     NaN     NaN     NaN     NaN     NaN      NaN
Alan Bates            NaN     NaN     NaN     NaN     NaN     NaN      NaN

                                        ... semester new                   \
Course number ARTS491 ARTS492  ARTS493  ...     ARTS559  ARTS565 ARTS567
Student name                            ...
ABella Abzug      NaN      NaN     NaN  ...          NaN     NaN      NaN
Al Gore           NaN      NaN     NaN  ...          NaN     NaN      NaN
Al Hirt           NaN      NaN     NaN  ...          NaN     NaN      NaN
Al Roker          NaN      NaN     NaN  ...          NaN     NaN      NaN
Alan Bates        NaN      NaN     NaN  ...          NaN     NaN      NaN


Course number ARTS569  ARTS571  ARTS573 ARTS577   ARTS581  ARTS583  ARTS587
Student name
ABella Abzug       NaN      NaN     NaN     NaN  Fall 2005      NaN     NaN
Al Gore            NaN      NaN     NaN     NaN        NaN      NaN     NaN
Al Hirt            NaN      NaN     NaN     NaN        NaN      NaN     NaN
Al Roker           NaN      NaN     NaN     NaN        NaN      NaN     NaN
Alan Bates         NaN      NaN     NaN     NaN        NaN      NaN     NaN

[5 rows x 105 columns]

Translating to binary:
              Course Type                                                   \
Course number     ARTS400 ARTS401 ARTS465 ARTS484 ARTS485 ARTS486 ARTS488
Student name
ABella Abzug            0       0       0       0       0       0        0
Al Gore                 0       0       0       0       0       0        0
Al Hirt                 0       0       1       0       0       1        0
Al Roker                1       0       0       0       0       0        0
Alan Bates              0       0       0       0       0       0        0

                                        ... semester new                   \
Course number ARTS491 ARTS492  ARTS493  ...     ARTS559  ARTS565 ARTS567
Student name                            ...
ABella Abzug        0        0       0  ...            0       0        0
Al Gore             0        0       0  ...            0       0        0
Al Hirt             0        0       0  ...            0       0        0
Al Roker            0        0       0  ...            0       0        0
Alan Bates          0        0       0  ...            0       0        0


Course number ARTS569  ARTS571  ARTS573 ARTS577 ARTS581  ARTS583  ARTS587
Student name
ABella Abzug         0        0       0       0        1        0       0
Al Gore              0        0       0       0        0        0       0
Al Hirt              0        0       0       0        0        0       0
Al Roker             0        0       0       0        0        0       0
Alan Bates           0        0       0       0        0        0       0

[5 rows x 105 columns]