In [1]:
import pandas as pd
data_set = pd.read_csv("Assignment4_data.csv")
data_set[:3]

    one   two  three  four  five variable
0 -92.0 -76.0  -33.0   3.0 -13.0       B2
1 -21.0  76.0   38.0  -6.0  80.0       B1
2  -2.0 -47.0  -34.0 -86.0 -66.0       A1

In [2]:
print("Exploring the data set")
print()
print("Description of the data:")
print(data_set.describe())
print()
print("Overview of data types from each column:")
print(data_set.dtypes)
print()
print("Showing the mean of each column:")
print("avg for one:", data_set['one'].mean())
print("avg for two:", data_set['two'].mean())
print("avg for three:", data_set['three'].mean())
print("avg for four:", data_set['four'].mean())
print()

Exploring the data set

Description of the data:
              one         two       three        four        five
count  195.000000  197.000000  199.000000  194.000000  196.000000
mean    -2.656410    2.208122    2.095477   -2.829897   -2.612245
std     67.489135   53.116759  101.864120   87.098996   84.158719
min   -363.000000 -100.000000 -100.000000 -576.000000 -821.000000
25%    -54.500000  -44.000000  -60.000000  -52.500000  -42.250000
50%      0.000000   -1.000000   -9.000000   -8.000000   -1.000000
75%     52.000000   45.000000   45.000000   44.000000   54.250000
max     97.000000   97.000000  832.000000  728.000000   99.000000

Overview of data types from each column:
one         float64
two         float64
three       float64
four        float64
five        float64
variable     object
dtype: object

Showing the mean of each column:
avg for one: -2.6564102564102563
avg for two: 2.2081218274111674
avg for three: 2.0954773869346734
avg for four: -2.829896907216495

In [3]:
print("Find missing values in the data, and handle them")
print(data_set.isnull().sum())
print()
print("Rows where the data is missing:")
print(data_set[data_set.isnull().any(axis=1)])
print()
print("Filling the null entries with the average")
columns = ['one', 'two', 'three', 'four', 'five']
for col in columns:
    data_set[col].fillna(data_set[col].mean(), inplace=True)
    
print("Checking that there is now no data missing:")
print(data_set[data_set.isnull().any(axis=1)])

Find missing values in the data, and handle them
one         5
two         3
three       1
four        6
five        4
variable    0
dtype: int64

Rows where the data is missing:
      one   two  three   four  five variable
7     NaN  35.0  -51.0   75.0  93.0       A2
9   -98.0   NaN    5.0   47.0 -37.0       A1
19  -62.0  -6.0   70.0    NaN  -5.0       B2
24    NaN  53.0   82.0  -94.0  65.0       B1
43   45.0  93.0  -58.0    NaN  72.0       A2
49    NaN   2.0   39.0  -51.0 -71.0       A1
68    NaN  12.0  -52.0   34.0  45.0       A1
87  -65.0   NaN  -45.0   -4.0 -37.0       B2
126  40.0 -15.0   51.0  -33.0   NaN       B2
131 -18.0  69.0  -71.0  -25.0   NaN       B2
139  90.0   2.0   47.0    NaN  63.0       A1
147 -41.0  24.0   50.0    NaN -47.0       B1
152 -78.0  54.0  -44.0  -53.0   NaN       A2
160   NaN -69.0  -51.0   53.0 -39.0       B2
173 -90.0 -23.0    NaN   66.0   0.0       A2
176 -18.0   NaN   68.0  -72.0  10.0       B1
178 -92.0   3.0   56.0  728.0   NaN       A1
182  -3.0  66.0   81.0    NaN -88.0       B2
192  77.0 -46.0    7.0    NaN  -6.0       B1

Filling the null entries with the average
Checking that there is now no data missing:
Empty DataFrame
Columns: [one, two, three, four, five, variable]
Index: []

In [4]:
print("Explore the variable column")
print()
print("Unique values in the variable column, along with their frequencies")
print(data_set['variable'].unique())
print()
print("Frequency of each value:")
print(data_set['variable'].value_counts())
print()
print("Data set with the appended dummy columns. The variables present as True False, which is changed by adding the +1:")
dummy_variables = pd.get_dummies(data_set['variable'])
data_set_with_dummies = pd.concat([data_set, dummy_variables], axis=1) * 1

print(data_set_with_dummies[:3])
print()

Explore the variable column

Unique values in the variable column, along with their frequencies
['B2' 'B1' 'A1' 'A2']

Frequency of each value:
variable
A1    59
B2    50
A2    46
B1    45
Name: count, dtype: int64

Data set with the appended dummy columns. The variables present as True False, which is changed by adding the +1:
    one   two  three  four  five variable  A1  A2  B1  B2
0 -92.0 -76.0  -33.0   3.0 -13.0       B2   0   0   0   1
1 -21.0  76.0   38.0  -6.0  80.0       B1   0   0   1   0
2  -2.0 -47.0  -34.0 -86.0 -66.0       A1   1   0   0   0

In [5]:
print("Creating 3 bins for column one")
data_set['one'] = pd.qcut(data_set['one'], q=3, labels=["Bin1", "Bin2", "Bin3"])
print(data_set.head())

Creating 3 bins for column one
    one   two  three  four  five variable
0  Bin1 -76.0  -33.0   3.0 -13.0       B2
1  Bin2  76.0   38.0  -6.0  80.0       B1
2  Bin2 -47.0  -34.0 -86.0 -66.0       A1
3  Bin1  43.0    7.0 -40.0 -42.0       A1
4  Bin3  37.0   -7.0 -14.0  30.0       A1

In [17]:
s = "I am happy to join with you today in what will go down in history as the greatest demonstration for freedom in the history of our nation. Five score years ago, a great American, in whose symbolic shadow we stand today, signed the Emancipation Proclamation. This momentous decree came as a great beacon light of hope to millions of Negro slaves who had been seared in the flames of withering injustice. It came as a joyous daybreak to end the long night of their captivity. But one hundred years later, the Negro still is not free. One hundred years later, the life of the Negro is still sadly crippled by the manacles of segregation and the chains of discrimination. One hundred years later, the Negro lives on a lonely island of poverty in the midst of a vast ocean of material prosperity. One hundred years later, the Negro is still languishing in the corners of American society and finds himself an exile in his own land. So we have come here today to dramatize a shameful condition."

print("Number of unique words in s:", len(set(s.split())))
print()

word_counts = {}
text = s.lower()
words = text.split()

words = [word.strip('.,!?;:') for word in words]

for word in words:
    word_counts[word] = word_counts.get(word, 0) + 1
    
most_common = ''
max_freq = 0

for word, count in word_counts.items():
    if count > max_freq:
        most_common = word
        max_freq = count
        
print("Most common word:", most_common, "\nFrequency:", max_freq)

words_starting_t = 0;
for word in words:
    if word[0] == 't':
        words_starting_t += 1

print()
print("Number of words starting with t:", words_starting_t)

Number of unique words in s: 110

Most common word: the
Frequency: 14

Number of words starting with t: 23